*{
    cursor: url(./../img/mouse.png), auto;
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
}
body{
    background-color: aquamarine;
    .catImg{
        width: 150px;
        transition: 0.5s;
    }
}